 body{
  font-family: 'Arimo', sans-serif;
  margin: 2% 2% 2% 2%;
  background-color: CadetBlue;
  color: white;
  font-size: 20px;
  margin-right: 50%;
}

h1 {
  font-size: 60px;
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  margin-bottom: -10px;
}

.info {
  margin-bottom: 50px;
}

a {
  color: white;
  border-bottom: 1px solid;
  text-decoration: none;
}

a:hover {
  border-bottom: 0px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
  }

  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}
